$colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  danger: $danger-color,
  info: $info-color,
  warning: $warning-color,
  facebook: $facebook-color,
  spotify: $spotify-color,
  dark-1: $dark-1-color,
  white-1: $white-1-color,
  gray-1: $gray-1-color,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .color-#{$name} {
    color: $color;
  }
}

.bg {
  &-transparent {
    background-color: transparent;
  }
}
