$btn-padding: 4px 15px;
$btn-font-size: 12px;
$btn-border: none;
$btn-transition: background-color 0.3s ease;

$btn-rounded: (
  small: 6px,
  large: 25px,
);

$btn-sizes: (
  small: (
    font-size: 10px,
    padding: 3px 8px,
    font-weight: 200,
    height: 26px,
  ),
  medium: (
    font-size: $btn-font-size,
    padding: $btn-padding,
    font-weight: 400,
    height: 32px,
  ),
  large: (
    font-size: 0.875rem,
    font-weight: 700,
    line-height: 2,
    padding: 4px 15px,
    height: 48px,
  ),
);

.btn {
  padding: $btn-padding;
  font-size: $btn-font-size;
  border: $btn-border;
  height: 32px;
  border-radius: map-get($btn-rounded, small);
  cursor: pointer;
  transition: $btn-transition;
  display: flex;
  align-items: center;
  justify-content: center;

  &--block {
    width: 100%;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: map-get($colors, info);
    cursor: default;
  }

  &--transparent {
    background-color: transparent;
    color: $gray-2-color;
    border: 1px solid $gray-2-color;
  }

  &--loading,
  &--icon {
    opacity: 0.7;
  }

  &__loading {
    animation: slide-right 0.5s forwards;

    @keyframes slide-right {
      from {
        opacity: 0;
        margin-right: 0;
      }
      to {
        opacity: 1;
        @extend .mr-3;
      }
    }
  }

  &--primary {
    background-color: $primary-color;
    color: $white-1-color;
  }

  &--secondary {
    background-color: $secondary-color;
    color: $white-1-color;
  }

  &--success {
    background-color: $success-color;
    color: $white-1-color;
  }

  &--danger {
    background-color: $danger-color;
    color: $white-1-color;
  }

  &--info {
    background-color: $info-color;
    color: $white-1-color;
  }

  &--warning {
    background-color: $warning-color;
    color: $white-1-color;
  }

  &--facebook {
    background-color: $facebook-color;
    color: $white-1-color;
  }

  &--spotify {
    background-color: $spotify-color;
    color: $dark-1-color;
  }

  &--dark-1 {
    background-color: $dark-1-color;
    color: $white-1-color;
  }

  @each $name, $size in $btn-rounded {
    &--rounded-#{$name} {
      border-radius: $size;
    }
  }

  @each $name, $style in $btn-sizes {
    &--#{$name} {
      @each $property, $value in $style {
        #{$property}: $value;
      }
    }
  }
}
