.app {
  display: flex;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__navbar {
    height: 64px;
    background-color: $dark-1-color;
  }

  &__sidebar {
    @extend .px-6;
    flex-basis: 240px;
    background-color: $primary-color;
  }

  &__content {
    flex: 1;
    background-color: $white-1-color;
  }
}
